.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1132px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 85px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 417px;
  background-image: url("images/80a222e9-393b-b691-ad0a-ded90425d08c.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 396px;
  background-image: url("images/857e458e-9e41-49d2-b73d-78302d0b9b3d.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 258px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 258px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(25, 79, 122) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-image-3 {
  min-height: 258px;
  background-image: url("images/reer-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  min-height: 417px;
  background-image: url("images/ddd.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-style: normal;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-style: normal;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.875rem;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-1 .u-image-1 {
    min-height: 344px;
  }

  .u-section-1 .u-image-2 {
    min-height: 327px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 213px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 213px;
  }

  .u-section-1 .u-image-3 {
    min-height: 213px;
  }

  .u-section-1 .u-image-4 {
    min-height: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2200px;
  }

  .u-section-1 .u-image-1 {
    min-height: 527px;
  }

  .u-section-1 .u-image-2 {
    min-height: 501px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    min-height: 326px;
  }

  .u-section-1 .u-image-4 {
    min-height: 527px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2550px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 110px;
  }

  .u-section-1 .u-image-1 {
    min-height: 395px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 752px;
  }

  .u-section-1 .u-layout-cell-4 {
    order: 1;
  }

  .u-section-1 .u-image-3 {
    min-height: 489px;
    order: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 395px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1798px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 249px;
  }

  .u-section-1 .u-image-2 {
    min-height: 473px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    min-height: 308px;
  }

  .u-section-1 .u-image-4 {
    min-height: 249px;
  }
}